.mainContent {
  padding: 1em;
  margin: 0 auto;
  text-align: center;
}

.title {
  text-align: center;
}

.form {
  margin: 0 auto;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.buttonLink {
  display: flex;
  justify-content: space-between;
}
